.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    & label{
        margin-bottom: .6em;
        font-weight: bold;
    }

    & select{
        padding: .7em;
        border: 1px solid #777;
        border-radius: 5px;
    }
}