.petHomeHeader {
  margin-bottom: 2em;

  & h1 {
    margin-bottom: 0.3em;
  }
}

.petContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.petCard {
  width: 22%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;

  & h3 {
    color: #16479d;
    margin-bottom: 1em;
    font-size: 1.6em;
    padding: 8px;
  }

  & a {
    text-decoration: none;
    background-color: #FFD400;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1em;

    &:hover {
      background-color: #E7C30D;
      color: #fff;
    }
  }

  & p{
    margin-bottom: 1em;
  }
}

.petCardImage {
  background-size: cover;
  background-position: center;
  height: 225px;
  width: 100%;
  margin-bottom: 1.2em;
}

.adoptedText{
    color: #25b456;
    font-weight: bold;
    padding: 15px;
    
}