.petListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  & h1 {
    margin: 0;
  }

  & a {
    text-decoration: none;
    background-color: #16479d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    border: 2px solid #16479d;

    &:hover {
      background-color: transparent;
      color: #16479d;
    }
  }
}

.petListContainer {
  display: flex;
  flex-direction: column;
}

.petListRow {
  border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  width: 100%;

  & img {
    margin-right: 1em;
  }

  & span {
    min-width: 100px;
  }
}

.actions {
  margin-left: auto;

  & a,
  button {
    text-decoration: none;
    background-color: #fff;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #16479d;
    font-size: 12px;
    margin-left: 1em;

    &:hover {
      background-color: #16479d;
      color: #fff;
    }
  }

  & .concludeBtn {
    color: #25b456;
    border-color: #25b456;

    &:hover {
      color: #fff;
      background-color: #25b456;
    }
  }
}
